@page "/methodologies"
@inject ApiServiceClient Api
@using MetaFlow.Contracts.Methodologies

<h3>Methodologies</h3>

@if (methodologies == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var m in methodologies)
        {
            <li>
                <strong>@m.Name</strong> - @m.Description
            </li>
        }
    </ul>
}

@code {
    private List<MethodologyResponse>? methodologies;

    protected override async Task OnInitializedAsync()
    {
        methodologies = await Api.GetMethodologiesAsync();
    }
}
